@import "../css/header.css";
@import "../css/basic.css";

/*------------------------------------ HOME SECTION ---------------------------------------*/
.home-swiper {
  margin: initial;
  --background-color: aquamarine;
}

.home-container {
  padding-top: 1rem;
  row-gap: 2.5rem;
  background-color: aqua;
  display: flex;
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: var(--bigest-font-size);
  margin-bottom: 1rem;
}

.home-description {
  font-size: var(--medium-font-size);
  margin-bottom: 2rem;
}

.home-images {
  display: grid;
}

.home-article,
.home-image {
  width: 220px;
  transition: scale 0.4s;
  box-shadow: -12px 5px 20px -8px rgba(0, 0, 0, 0.253);
  border-radius: 10px;
}

.home-article {
  scale: 0.6;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  scale: 0.7;
}

/*------------------------------------ RESPONSIVE ---------------------------------------*/
@media screen and (min-width: 576px) {
  .home-container {
    grid-template-columns: 420px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 580px;
  }

  .home-data {
    width: 420px;
    justify-self: center;
  }
}

@media screen and (max-width: 1220px) {
  .home-container {
    grid-template-columns: 435px 745px;
    align-items: center;
    padding-block: 7rem 2rem;
  }
  .home-data {
    text-align: initial;
  }
  .home-description {
    margin-bottom: 4rem;
  }
  .home-article,
  .home-image {
    width: 290px;
    margin-bottom: 1rem;
  }
}
