@import "../css/header.css";
@import "../css/basic.css";

/*------------------------------------ HOME SECTION ---------------------------------------*/
.home-swiper {
  margin: initial;
}

.home-container {
  --padding-top: 1rem;
  row-gap: 2.5rem;
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: var(--bigest-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.home-description {
  font-size: var(--medium-font-size);
  margin-bottom: 2rem;
}

.home-images {
  display: grid;
  gap: 100px;
}

.home-article,
.home-image {
  width: 220px;
  transition: scale 0.4s;
  border-radius: 10px;
}

.home-image {
  box-shadow: -12px 5px 20px -8px rgba(0, 0, 0, 0.253);
}

.home-article {
  scale: 0.7;
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  scale: 0.9;
}

/*------------------------------------ RESPONSIVE ---------------------------------------*/
@media (min-width: 576px) {
  .home-container {
    grid-template-columns: 550px;
    justify-content: center;
  }
}

@media (min-width: 630px) {
  .home-container {
    grid-template-columns: 580px;
  }

  .home-data {
    width: 420px;
    justify-self: center;
  }
}

@media (min-width: 1220px) {
  .home-container {
    grid-template-columns: 435px 745px;
    align-items: center;
    padding-block: 7rem 2rem;
  }
  .home-data {
    text-align: initial;
  }
  .home-title {
    font-size: 3rem;
  }
  .home-description {
    margin-bottom: 4rem;
    font-size: 1.2rem;
  }
  .home-article,
  .home-image {
    width: 290px;
    margin-bottom: 1rem;
  }
}
