@import "../basic.css";
@import "../header.css";
@import "./fixedSection.css";
@import "./scrollSection.css";

.book-details {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  align-items: center;
}

.book-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.medium-small-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.7rem;
}

.book-details .book-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.book-details .book-author {
  font-size: 1.5rem;
}

.book-details .rating {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  color: #e47b01;
  display: flex;
  align-items: center;
}

.book-details .book-title,
.book-details .book-author,
.book-details .rating {
  display: none;
}

@media (max-width: 430px) {
  /* .book-details-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  } */
}

@media (min-width: 414px) and (max-width: 674px) {
}

@media (min-width: 431px) and (max-width: 767px) {
  /* .book-details-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  } */
}

@media (min-width: 767px) and (max-width: 1023px) {
  /* .book-details-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  } */
}

@media (min-width: 1024px) {
  .book-details-container {
    flex-direction: row;
  }
  .medium-small-screen {
    display: none;
  }
  .book-details .book-title {
    font-size: 2rem;
    font-weight: bold;
  }
  .book-details .book-title,
  .book-details .book-author,
  .book-details .rating {
    display: block;
  }
}
