@import "./scrollSection.css";

.scroll-section .book-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1.2rem;
  border-bottom: solid 0.1px #2e867d50;
}

.scroll-section .book-info .book-description {
  width: 100%;
  font-size: 1.1rem;
  text-align: start;
}

.scroll-section .book-info .sub-description {
  width: 100%;
  font-size: 1.1rem;
  text-shadow: none;
}

.appeared-text .book-info {
  text-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  --text-shadow: none;
}

.scroll-section .book-info .sub-description span {
  display: none;
}

.scroll-section .book-info .sub-description button {
  display: block;
  margin-top: 0.5rem;
  padding: 0.3rem 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 0.5px;
  background-color: transparent;
  cursor: pointer;
  --display: none;
}

.scroll-section .book-info .sub-description button p:hover {
  border-bottom: solid 1px #2e867d;
}

.scroll-section .book-info .genres-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.scroll-section .book-info .genres-container .genres {
  display: flex;
  gap: 1rem;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.scroll-section .book-info .genres-container .genres p {
  letter-spacing: 1px;
  border-bottom: solid 3px #2e867d;
}

.scroll-section .book-info .pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

@media (min-width: 1024px) {
  .scroll-section .book-info {
    width: 90%;
    margin-top: 2rem;
    align-items: start;
  }
  .scroll-section .book-info .book-description,
  .scroll-section .book-info .sub-description {
    width: 85%;
  }
}
