@import "./scrollSection.css";

.scroll-section .about-author-sec {
  width: 90%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: solid 0.1px #2e867d50;
}

.scroll-section .about-author-sec .about-author {
  display: flex;
  justify-content: space-between;
}

.scroll-section .about-author-sec .about-author button {
  background-color: #2e867d;
  color: white;
  padding: 0.8rem 1.3rem;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
}

.scroll-section .about-author-sec .about-author .left-sec {
  display: flex;
  gap: 0.5rem;
}

.scroll-section .about-author-sec .about-author .left-sec img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: contain;
}

.scroll-section .about-author-sec .about-author .left-sec div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
}

.scroll-section .about-author-sec .author-description {
  width: 95%;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .scroll-section .about-author-sec .author-description {
    width: 90%;
  }
}
